# Все файлы и папки, которые могут генерироваться Airflow
airflow_home/
.env
*.pyc

# Файлы и папки, создаваемые Airflow в процессе выполнения
logs/
*.log
*.err
*.out

# Игнорировать локальные файлы конфигурации
airflow.cfg

# Игнорировать файлы, создаваемые DAG'ами при выполнении
*.pid
*.pickle


# Виртуальное окружение
venv/

# Игнорировать файлы .DS_Store
.DS_Store